body{
    font-family: Davison Art Nouveau;
}
.site-heading-lower{
    font-family: Davison Art Nouveau;
}
.mb-3{
    font-family: 'Courier New', Courier, monospace;
    color: sandybrown !important;
}
.notyellow{
    color: black !important;
}
.intotext{
    box-shadow: ;
}